.page-home {
  .txt {
    font-size: 20px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #525966;
    line-height: 28px;
    letter-spacing: -1px;
  }
}
